#header {
  width: 100%;
  height: auto;
  overflow: auto;
  background-color: white;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }
  #header .header_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px; }
    #header .header_logo .header_logo_image {
      background-color: deeppink; }
    #header .header_logo .header_logo_text {
      font-size: 50px;
      color: black;
      font-weight: bold;
      margin: 0; }
  #header .header_menu {
    width: auto;
    height: auto;
    text-align: center;
    margin-right: 50px; }
    #header .header_menu ul {
      margin: 0;
      padding: 0; }
      #header .header_menu ul li {
        display: inline-block;
        color: black;
        font-family: 'Lato', sans-serif;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: bold;
        padding: 30px 30px; }
        #header .header_menu ul li a {
          text-decoration: none;
          color: black; }

.main-container {
  width: 80%;
  height: 1000px;
  background-color: gray;
  margin: 0 auto;
  display: flex;
  flex-direction: row; }
  .main-container .main-container_block {
    height: 500px;
    flex-grow: 5;
    background-color: black;
    color: white;
    font-size: 50px;
    font-weight: bold; }
  .main-container .user-info {
    width: 50%;
    height: 200px;
    background-color: deeppink;
    color: white;
    font-size: 50px;
    font-weight: bold;
    flex: 1; }
  .main-container .labels {
    flex: 2;
    width: 50%;
    height: 200px;
    background-color: green;
    color: white;
    font-size: 50px;
    font-weight: bold; }

body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  background-color: lightblue; }
