#footer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center; }
  #footer .corp {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: lightgrey; }
  #footer .terms .privacy::after {
    content: "|";
    font-size: 13px;
    margin-left: 9px;
    margin-right: 5px; }
  #footer ul {
    padding: 0; }
    #footer ul li {
      display: inline-block; }
      #footer ul li a {
        text-decoration: none;
        display: block;
        font-family: 'Open Sans', sans-serif;
        font-size: 13px;
        color: #0b91a0; }

#main-container {
  width: 70%;
  height: auto;
  position: absolute;
  top: 100px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap; }
  #main-container .phones {
    position: relative; }
    #main-container .phones img {
      position: absolute;
      display: block; }
    #main-container .phones .black_phone {
      z-index: 1;
      padding-top: 50px; }
    #main-container .phones .white_phone {
      z-index: 5;
      padding-left: 300px; }

.helper {
  width: 100%;
  height: 400px;
  background-color: black; }

body {
  padding: 0;
  margin: 0;
  font-size: 100%;
  background-color: white;
  /*width: 100%;
  height: 100%;
  overflow: hidden;
  background-image: url('../img/bg.png');
  background-repeat: no-repeat;
  background-position: left;*/ }
